{% load staticfiles %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bookmark/style.css' %}" /> -->
 
<body class="container">
<h1>URL Shortner</h1>

<form class="form-inline" action="../shortenURL/" method="POST">
{% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control " id="inputURL" name="longURL" placeholder="URL">
  </div>
  <button type="submit" class="btn btn-default">Get Short URL</button>
  <span class="shorturl"><a href="{{shorturl}}">{{shorturl}}</span>
</form>
<a href="../">Back</a>
</body>